<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Harvard Bridge Crossing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/bootstrap.js" type="text/javascript"></script>
    <!-- fixes timers not firing after scrolling on ios6 -->
    <script src="{{STATIC_URL}}js/ios6-timers.js" type="text/javascript"></script> 

    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet" media="screen">

    <script type="text/javascript">
      $(document).ready(function() {
        to_cambridge_urls = ["http://webservices.nextbus.com/service/publicXMLFeed?command=predictions&a=mit&stopId=13",
                             "http://webservices.nextbus.com/service/publicXMLFeed?command=predictions&a=mbta&stopId=00095"];

        to_cambridge_routes = ["Saferide Boston East",
                               "Boston Daytime",
                               "1",
                               "Ct1"];

        to_boston_urls = ["http://webservices.nextbus.com/service/publicXMLFeed?command=predictions&a=mit&stopId=03",
                          "http://webservices.nextbus.com/service/publicXMLFeed?command=predictions&a=mbta&stopId=00075"];

        to_boston_routes = ["Saferide Boston West",
                            "Saferide Boston East",
                            "Boston Daytime",
                            "1",
                            "Ct1"];

        route_names = {
          "Saferide Boston West": "Boston West",
          "Saferide Boston East": "Boston East",
          "Boston Daytime": "Boston Daytime",
          "1": "1 Bus",
          "Ct1": "CT1 Bus",
        };

        function arrival(route, wait) {
          this.route = route;
          this.wait = parseInt(wait);
        };

        function compare(a, b) {
          if (a.wait < b.wait) {
            return -1;
          } else if (a.wait > b.wait) {
            return 1;
          } else {
            return 0;
          }
        };

        function fetch_arrivals(xml_urls, valid_routes) {
          var arrivals = [];

          $.each(xml_urls, function(index, value) {
            $.ajax({
              url: value,
              async: false, 
              success: function(data) {
                $xml = $(data);
                predictions = $xml.find("predictions");
                $.each(predictions, function(index, route) {
                  route_title = route.getAttribute("routeTitle");
                  if ($.inArray(route_title, valid_routes) !== -1) { // !== -1 ? really?
                    $.each(route.getElementsByTagName("prediction"), function(index, prediction) {
                      wait = prediction.getAttribute("minutes");
                      arrivals.push(new arrival(route_title, wait));
                    });
                  }
                });
              }
            });
          })

          return arrivals;
        }

        function update_table(table, arrivals) {
          arrivals.sort(compare);

          table.html(""); // clear before update

          $.each(arrivals, function(index, arrival) {
            row = $("<tr></tr>");
            cell1 = $("<td></td>");
            cell1.text(arrival.wait);

            cell2 = $("<td></td>");
            cell2.text(route_names[arrival.route]);

            row.append(cell1);
            row.append(cell2);
            table.append(row);
          })
        };

        function update() {
          update_table($("#tbl_to_boston"), fetch_arrivals(to_boston_urls, to_boston_routes));
          update_table($("#tbl_to_cambridge"), fetch_arrivals(to_cambridge_urls, to_cambridge_routes));
        };

        update();
        var updateIntervalID = window.setInterval(update, 30000, true);

        $("#tocambridge a").click(function(e) {
          e.preventdefault();
          $(this).tab("show");
        });

        $("#toboston a").click(function(e) {
          e.preventdefault();
          $(this).tab("show");
        });
      });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tocambridge" data-toggle="tab">To Cambridge</a></li>
        <li><a href="#toboston" data-toggle="tab">To Boston</a></li>
      </ul>
      <div id="content" class="tab-content">
        <div class="tab-pane active" id="tocambridge">
          <div class="row-fluid">
            <div class="span12">
              Stop: Mass. Ave at Beacon St.
              <table class="table">
                <thead>
                  <tr>
                    <th><i class="icon-time"></i></th>
                    <th><i class="icon-truck"></i></th>
                  </tr>
                </thead>
                <tbody id="tbl_to_cambridge">
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="toboston">
          <div class="row-fluid">
            <div class="span12">
              Stop: 84 Mass. Ave
              <table class="table">
                <thead>
                  <tr>
                    <th><i class="icon-time"></i></th>
                    <th><i class="icon-truck"></i></th>
                  </tr>
                </thead>
                <tbody id="tbl_to_boston">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>